{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Made To Measure - {{ garment }}</h2>
        <p>Select a fabric below. Price is per metre, all garments require 3-5 metres of fabric.</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-10 offset-1">
        <div class="row">
          {% for product in products %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
              <div class="card h-100 product-card border-0">
                {% if product.image %}
                  <a href="{% url 'mtm_form' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                  </a>
                {% else %}
                  <a href="">
                    <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top img-fluid" alt="{{ product.name }}">
                  </a>
                {% endif %}
                <div class="card-body pb-0">
                  <p class="lead mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="{% url 'products' %}?category={{ product.category.category_name }}" class="card-subtitle dark-font text-muted">
                    <i class="fas fa-list mr-1"></i>{{ product.category.friendly_name }}
                  </a>
                  <p class="font-weight-bold mt-3">£{{ product.price }} <span class="text-muted">per metre</span></p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
