{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Made To Measure</h2>
        <p>
          Let us know your measurements and we will process your request and contact you if we need any more information.
          Made garments will usually ship within 2 weeks.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-md-6 mtm-display order-1 order-md-0">
            <div class="col-10 offset-1">
              <h3 class="mb-3">Measurements</h3>
              <p>All measurements in centimetres</p>
              <form class="mtm-form" method="POST" action="{% url 'mtm_form' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.height | as_crispy_field }}
                </div>
                {% if required_measurements == "tops" %}
                  <div class="form-group">
                    {{ form.neck | as_crispy_field }}
                    {{ form.shoulder | as_crispy_field }}
                    {{ form.chest | as_crispy_field }}
                    {{ form.arm | as_crispy_field }}
                    {{ form.back | as_crispy_field }}
                  </div>
                {% elif required_measurements == "bottoms" %}
                  <div class="form-group">
                    {{ form.waist | as_crispy_field }}
                    {{ form.hips | as_crispy_field }}
                    {{ form.leg | as_crispy_field }}
                  </div>
                {% elif required_measurements == "both" %}
                  <div class="form-group">
                    {{ form.neck | as_crispy_field }}
                    {{ form.shoulder | as_crispy_field }}
                    {{ form.chest | as_crispy_field }}
                    {{ form.arm | as_crispy_field }}
                    {{ form.back | as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.waist | as_crispy_field }}
                    {{ form.hips | as_crispy_field }}
                    {{ form.leg | as_crispy_field }}
                  </div>
                {% endif %}
                <h4 class="mt-5">Contact Details</h4>
                <div class="form-group">
                  {{ form.name | as_crispy_field }}
                  {{ form.email | as_crispy_field }}
                  {{ form.phone | as_crispy_field }}
                </div>

                <input type="hidden" name="product" value="{{ product }}">
                <input type="hidden" name="garment" value="{{ garment }}">

                <div class="form-check form-check-inline mr-0">
    							{% if user.is_authenticated %}
    								<label class="form-check-label" for="id-save-info">Save details to my profile</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
    							{% else %}
    								<label class="form-check-label" for="id-save-info">
                      <a class="nav-link d-inline px-0" href="{% url 'account_signup' %}">Create an account</a> or
                      <a class="nav-link d-inline px-0" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
    							{% endif %}
    						</div>

                <div class="text-center">
                  <button type="submit" class="btn my-button my-3">Submit</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-12 col-md-6 mtm-display left-border order-0 order-md-1">
            <h3 class="mb-3">Selected Fabric</h3>
            <div>
              {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                  <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                </a>
              {% else %}
                <a href="">
                  <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ product.name }}">
                </a>
              {% endif %}
            </div>
            <h4 class="my-4">{{ product.name }}</h4>
            <p class="mt-4">£{{ product.price }} <span class="text-muted">per metre</span></p>
            <p class="lead mt-4">Estimated Total: <span class="font-weight-bold">£{{ mtm_price }}</span></p>
            <p class="text-muted">
              <span class="text-danger d-block">YOU WILL NOT BE CHARGED YET FOR THIS SERVICE</span>
              <small>One of our team will contact you with the final price and ways to pay</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
