{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Made To Measure</h2>
        <p>
          Let us know your measurements and we will process your request and contact you if we need any more information.
          Made garments will usually ship within 2 weeks.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-md-6 text-center text-md-left mtm-display">
            <h3 class="mb-3">Measurements</h3>
            <p>All measurements in centimetres</p>

            <div class="col-10 offset-1">
              <form class="mtm-form">
                <div class="form-group">
                  <label for="height">Height:</label>
                  <input type="text" class="form-control" id="height">
                </div>
                {% if required_measurements == "tops" %}
                  <div class="form-group">
                    <label for="neck">Neck:</label>
                    <input type="text" class="form-control" id="neck">
                    <label for="shoulder">Shoulder Width:</label>
                    <input type="text" class="form-control" id="shoulder">
                    <label for="chest">Chest:</label>
                    <input type="text" class="form-control" id="chest">
                    <label for="arm">Arm Length:</label>
                    <input type="text" class="form-control" id="arm">
                    <label for="back">Back:</label>
                    <input type="text" class="form-control" id="back">
                  </div>
                {% elif required_measurements == "bottoms" %}
                  <div class="form-group">
                    <label for="waist">Waist:</label>
                    <input type="text" class="form-control" id="waist">
                    <label for="hips">Hips:</label>
                    <input type="text" class="form-control" id="hips">
                    <label for="leg">Inside Leg:</label>
                    <input type="text" class="form-control" id="leg">
                  </div>
                {% elif required_measurements == "both" %}
                  <div class="form-group">
                    <label for="neck">Neck:</label>
                    <input type="text" class="form-control" id="neck">
                    <label for="shoulder">Shoulder Width:</label>
                    <input type="text" class="form-control" id="shoulder">
                    <label for="chest">Chest:</label>
                    <input type="text" class="form-control" id="chest">
                    <label for="arm">Arm Length:</label>
                    <input type="text" class="form-control" id="arm">
                    <label for="back">Back:</label>
                    <input type="text" class="form-control" id="back">
                  </div>
                  <div class="form-group">
                    <label for="waist">Waist:</label>
                    <input type="text" class="form-control" id="waist">
                    <label for="hips">Hips:</label>
                    <input type="text" class="form-control" id="hips">
                    <label for="leg">Inside Leg:</label>
                    <input type="text" class="form-control" id="leg">
                  </div>
                {% endif %}
                <div class="text-center">
                  <button type="submit" class="my-button">Submit</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-12 col-md-6 text-center text-md-left mtm-display left-border">
            <h3 class="mb-3">Selected Fabric</h3>
            <div>
              {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                  <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                </a>
              {% else %}
                <a href="">
                  <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ product.name }}">
                </a>
              {% endif %}
            </div>
            <h4 class="my-4">{{ product.name }}</h4>
            <p class="mt-4">£{{ product.price }} <span class="text-muted">per metre</span></p>
            <p class="lead mt-4">Estimated Total: <span class="font-weight-bold">£{{ mtm_price }}</span></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
