{% extends "base.html" %}
{% load static %}

{% block content %}
  <main class="pb-5 pb-sm-0">
    <div class="container header-spacer">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="jumbotron text-center bg-transparent white-font px-0">
            <h2>Welcome to Right Fit Tailoring</h2>
            <p class="fancy-font">For all your tailoring needs</p>
            <a href="{% url 'products' %}?category=shirts,trousers,shorts,jackets,coats,waistcoats,suits,cufflinks,ties,braces,belts"
              class="btn my-button white-font">Get Dressed!</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block postload_js %}
  <script>
    $("footer").addClass("fixed-bottom");
  </script>
{% endblock %}
