{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Order Complete</h2>
        <p>
          A summary of your order is below. Feel free to print this out with the
          button below. An email confirmation will be sent to <strong>{{ order.email }}</strong>.
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <h3 class="mb-3">Order Summary</h3>
        <div class="row">
          <div class="col-12">
            <p><strong>Order Number:</strong> {{ order.order_number }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p><strong>Date:</strong> {{ order.date }}</p>
          </div>
        </div>
        <h4>Products Ordered</h4>
        {% for item in order.lineitems.all %}
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="small m-0">
                {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
              </p>
              <p class="small">Quantity: {{ item.quantity }} at £{{ item.product.price }} each</p>
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <div class="col-12">
            <h4>Delivery Details</h4>
          </div>
          <div class="col-12">
            <p>{{ order.full_name }}</p>
          </div>
          <div class="col-12">
            <p class="m-0">{{ order.address_line_1 }}</p>
          </div>
          {% if order.address_line_2 %}
            <div class="col-12">
              <p class="m-0">{{ order.address_line_2 }}</p>
            </div>
          {% endif %}
          <div class="col-12">
            <p class="m-0">{{ order.city }}</p>
          </div>
          <div class="col-12">
            <p class="m-0">{{ order.county }}</p>
          </div>
          <div class="col-12">
            <p class="m-0">{{ order.postcode }}</p>
          </div>
          <div class="col-12">
            <p class="m-0">{{ order.country }}</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <h4>Order Total:</h4>
          </div>
          <div class="col-12">
            <p class="font-wieght-bold">Grand Total: <strong>{{ order.grand_total }}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-5">
        <a href="{% url 'products' %}" class="btn my-button">
          Back to products
        </a>
        <button class="btn my-button-reverse mx-3" onclick="window.print();return false;">Print</button>
      </div>
    </div>
  </div>
{% endblock %}
