{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Checkout</h2>
        <p>
          Please fill out this form to process your payment.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <div class="col-12 col-md-6 mtm-display order-1 order-md-0">
            <div class="col-10 offset-1">
              <h3 class="mb-3">Your Details</h3>
              <form class="mtm-form" method="POST" action="{% url 'checkout' %}" id="payment-form">
                {% csrf_token %}

                <div class="form-group">
                  {{ form.full_name | as_crispy_field }}
                  {{ form.email | as_crispy_field }}
                  {{ form.phone_number | as_crispy_field }}
                </div>

                <div class="form-group">
                  <h4>Delivery Address</h4>
                  {{ form.address_line_1 | as_crispy_field }}
                  {{ form.address_line_2 | as_crispy_field }}
                  {{ form.city | as_crispy_field }}
                  {{ form.county | as_crispy_field }}
                  {{ form.postcode | as_crispy_field }}
                  {{ form.country | as_crispy_field }}
                </div>

                <div class="form-check form-check-inline mr-0">
    							{% if user.is_authenticated %}
    								<label class="form-check-label" for="id-save-info">Save details to my profile</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
    							{% else %}
    								<label class="form-check-label" for="id-save-info">
                      <a class="nav-link" href="{% url 'account_signup' %}">Create an account</a> or
                      <a class="nav-link" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
    							{% endif %}
    						</div>

                <fieldset class="mb-5">
                  <legend class="fieldset-label px-2 w-auto">Payment</legend>
                  <!-- A Stripe card element will go here -->
                  <div class="mb-3" id="card-element"</div>
                  <!-- Used to display form errors -->
                  <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                  <!-- Pass the client secret to the view so we can get the payment intent id -->
                  <input type="hidden" name="client_secret" value="{{ client_secret }}">
                </fieldset>

                <div class="text-center">
                  <a href="{% url 'cart' %}" class="btn my-button-reverse">
                    <span>
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Back to Cart</span>
                  </a>
                  <button type="submit" class="my-button" id="submit-button">Complete Order</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-12 col-md-6 mtm-display left-border order-0 order-md-1">
            <h3 class="mb-3">Cart</h3>
            <div class="row">
              <div class="col-6"><h3>Product</h3></div>
              <div class="d-none d-md-block col-2"><h3>Price</h3></div>
              <div class="d-none d-md-block col-2"><h3>Quantity</h3></div>
              <div class="d-none d-md-block col-2"><h3>Subtotal</h3></div>
            </div>
            <hr>
            {% for item in cart_items %}
              <div class="row mb-2">
                <div class="col-12 col-sm-4 col-md-2 text-md-center">
                  <img src="{{ item.product.image.url }}" height="150px" width="100px" alt="{{ item.product.name }}">
                </div>
                <div class="col-12 col-sm-8 col-md-4">
                  <p>{{ item.product.name }}</p>
                  <p class="text-muted"><i class="fas fa-list mr-1"></i>{{ item.product.category.friendly_name }}</p>
                  {% if item.product.sizeable %}
                    <p>Size: {{ item.size|upper }}</p>
                  {% endif %}
                </div>
                <div class="col-12 col-md-2 cart-display">
                  <span class="d-md-none pr-2">Price:</span>
                  <span>£{{ item.product.price }}</span>
                </div>
                <div class="col-12 col-md-2">
                  <form action="{% url 'update_cart' item.item_id %}" method="POST" class="h-100">
                    {% csrf_token %}
                    <div class="input-group">
                      <span class="d-md-none pr-2 input-group-prepend">Quantity:</span>
                      <input class="form-control" type="number" name="quantity"
                        value="{{ item.quantity }}" min="1" max="10"
                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                    </div>
                    <button type="submit" class="border-0 bg-transparent px-0"><small>Update</small></button>
                    <a href="{% url 'remove_from_cart' item.item_id %}" class="float-right dark-font" id="remove_{{ item.item_id }}"
                      data-product_size="{{ item.size }}"><small>Remove</small></a>
                    {% if item.product.sizeable %}
                      <input type="hidden" name="product_size" value="{{ item.size }}">
                    {% endif %}
                  </form>
                </div>
                <div class="col-12 col-md-2 cart-display">
                  <span class="d-md-none pr-2">Subtotal:</span>
                  <span><strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong></span>
                </div>
              </div>
              <hr>
            {% endfor %}
            <div class="row mb-4">
              <div class="col-4 offset-7 text-right">
                <p>Cart Total ({{ item_count }} items): <strong>£{{ total }}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="loading-overlay">
    <h1 class="loading-spinner">
      <span class="icon">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </span>
    </h1>
  </div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script type="text/javascript" src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
