/* ---------------------------------------Custom colours */
:root {
  --my-grey: #9b9ca0;
  --my-blue: #858dbe;
  --my-white: #fafafa;
  --my-tan: #c89f81;
  --my-brown: #76463a;
  --my-dark-grey: #464749;
}

/* ------------------------------------------------Fonts */
.logo {
  font-family: "Cinzel Decorative", cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.fancy-font {
  font-family: "Italianno", cursive;
}

.white-font {
  color: var(--my-white);
}

.dark-font {
  color: var(--my-dark-grey);
}

/* ---------------------------------------General styles */
.my-button {
  background-color: var(--my-blue);
  color: var(--my-white);
  border: 1px solid var(--my-blue);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.my-button-reverse {
  background-color: var(--my-white);
  color: var(--my-blue);
  border: 1px solid var(--my-blue);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.my-button:hover {
  background-color: var(--my-white);
  color: var(--my-blue);
  border: 1px solid var(--my-blue);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.my-button-reverse:hover {
  background-color: var(--my-blue);
  color: var(--my-white);
  border: 1px solid var(--my-white);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.header-spacer {
  padding-top: 200px;
}

/* ATTRIBUTION: This code is used to force the footer to the
bottom of the page, or below contnet.
Code sourced from freeCodeCamp; see README Acknowledgments */
.page-container {
  position: relative;
  min-height: 100vh;
}

.main-content {
  padding-bottom: 6rem;
}
/* END ATTRIBUTION */

/* -------------------------------------Background image */
body {
  background: url("/media/hero-lg.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 0px 120px;
  height: calc(100vh - 152px);
}

.overlay {
  background: var(--my-white);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

/* ----------------------------------------Header styles */

header {
  background-color: var(--my-dark-grey);
  color: var(--my-white);
}

.offer-banner {
  background-color: var(--my-blue);
}

.search-bar input {
  background-color: var(--my-grey);
  border-color: var(--my-grey);
}

.search-bar button {
  border-color: var(--my-grey);
}

.sub-logo {
  font-size: 2.5rem;
}

.menu-button {
  height: 2rem;
}

/* ----------------------------------------Footer styles */
footer {
  background-color: var(--my-dark-grey);
  color: var(--my-white);
  min-height: 6rem;
  position: absolute;
  bottom: 0;
}

footer .row {
  min-height: 6rem;
}

/* --------------------------------------------Home page */
.jumbotron {
  /* position: fixed; */
  margin-top: 120px;
}

.jumbotron h2 {
  font-size: 3rem;
}

.jumbotron p {
  font-size: 3rem;
}

/* ---------------------------------------------Products */
.image-container {
  height: 450px;
  width: 300px;
  overflow: hidden;
}

/* ------------------------------------------Cart styles */
.quantity-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------------------------mtm styles */
.mtm-display {
  margin-bottom: 1rem;
}

.left-border {
  border-left: 1px solid var(--my-dark-grey);
}

.mtm-form label {
  margin-bottom: 0;
}

.mtm-form input {
  padding-top: 0;
  margin-bottom: 1rem;
}

/* ----------------------------------------Media Queries */

/* adjust the position of background image on medium and
smaller screens */
@media (max-width: 767px) {
  body {
    background: url("/media/hero-lg.jpg") no-repeat fixed;
    background-size: cover;
    background-position: -250px 100px;
    height: calc(100vh - 152px);
  }

  .sub-logo {
    font-size: 1.5rem;
  }

  .cart-display {
    display: flex;
    justify-content: flex-end;
  }

  .left-border {
    border: none;
  }

  .mtm-display {
    text-align: center !important;
  }
}

@media (max-width: 568px) {
  .jumbotron {
    margin-top: 0;
  }

  .main-content {
    padding-bottom: 11rem;
  }

  .cart-display {
    display: flex;
    justify-content: space-between;
  }

  .mtm-display {
    margin-bottom: 3rem;
  }
}
