<div class="collapse navbar-collapse" id="menu-bar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown d-md-none mx-5">
        <form class="search-bar">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn border" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
      <li class="nav-item ml-5 d-sm-none">
        <a href="#" class="nav-link">
          <div>
            <p class="my-0"><i class="fas fa-user mr-2"></i> Log in/Register</p>
          </div>
        </a>
      </li>
      <li class="nav-item dropdown ml-5 ml-md-0">
            <div class="nav-link pt-0" type="button" id="readyToWearMenu" data-toggle="dropdown" aria-expanded="false">
              Ready To Wear
            </div>
            <div class="dropdown-menu" aria-labelledby="readyToWearMenu">
              <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
              <a class="dropdown-item" href="#">Shirts</a>
              <a class="dropdown-item" href="#">Trousers & Shorts</a>
              <a class="dropdown-item" href="#">Jackets & Coats</a>
              <a class="dropdown-item" href="#">Waistcoats</a>
              <a class="dropdown-item" href="#">Suits</a>
            </div>
      </li>
      <li class="nav-item dropdown ml-5">
            <div class="nav-link pt-0" type="button" id="accessoriesMenu" data-toggle="dropdown" aria-expanded="false">
              Accessories
            </div>
            <div class="dropdown-menu" aria-labelledby="accessoriesMenu">
              <a class="dropdown-item" href="#">All Accessories</a>
              <a class="dropdown-item" href="#">Cufflinks</a>
              <a class="dropdown-item" href="#">Ties</a>
              <a class="dropdown-item" href="#">Braces</a>
              <a class="dropdown-item" href="#">Belts</a>
            </div>
      </li>
      <li class="nav-item dropdown mx-5">
            <div class="nav-link pt-0" type="button" id="madeToMeasureMenu" data-toggle="dropdown" aria-expanded="false">
              Made to Measure
            </div>
            <div class="dropdown-menu" aria-labelledby="madeToMeasureMenu">
              <a class="dropdown-item" href="#">Shirts</a>
              <a class="dropdown-item" href="#">Trousers & Shorts</a>
              <a class="dropdown-item" href="#">Jackets & Coats</a>
              <a class="dropdown-item" href="#">Waistcoats</a>
              <a class="dropdown-item" href="#">Suits</a>
            </div>
      </li>
      <li class="ml-5 ml-md-0">
        <div class="nav-link pt-0">
          <p class="my-0">Alterations</p>
        </div>
      </li>
    </ul>
  </div>
