{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-4 text-center">
            {% if product.image %}
              <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
              </a>
            {% else %}
              <a href="">
                <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ product.name }}">
              </a>
            {% endif %}
          </div>
          <div class="col-12 col-sm-6">
            <h2 class="mb-4">{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <a href="" class="card-subtitle dark-font text-muted">
              <i class="fas fa-list mr-1"></i>{{ product.category.friendly_name }}
            </a>
            <p class="lead font-weight-bold mt-4">£{{ product.price }}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postload_js %}
  <script>
    $("footer").addClass("fixed-bottom");
  </script>
{% endblock %}
